@import "variables.scss";

.narrator {
  font-size: 1.5rem;
  color: $secondary_color;
  font-weight: 300;
  margin-bottom: 1rem;
}


.hadith {
  font-size: 2rem;
  font-weight: 400;
  color: $primary_color;
}

.hadith-ar {
  font-size: 2.5rem;
  font-weight: 300;

  text-align: justify;
  text-justify: inter-word;
  direction: rtl
}



.hadith p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.grade {
  font-size: 1.5rem;
  color: $secondary_color;
  font-weight: 300;
  float: right;
  padding-right: 20px;
}

.book {
  font-size: 1.5rem;
  color: $secondary_color;
  font-weight: 300;
  float: left;
}


/* span[narrator = "narrator"]
{
  display: none;
} */

@media only screen and (min-device-width : 120px) and (max-device-width : 480px) {
  .narrator {
    font-size: 16px;
    color: $secondary_color;
    font-weight: 200;

  }

  .hadith {
    font-size: 20px;
    font-weight: 400;
    color: $primary_color;
  }

  .grade {
    font-size: 16px;
    font-weight: 200;
    color: $secondary_color;

  }

  .book {
    font-size: 16px;
    color: $secondary_color;
    font-weight: 200;
  }
}



.center-hadith {
  margin: auto;
}


strong {

  color: white;
  font-weight: 500;

}