.a-title {
  font-family: Avenir;
  font-weight: 300;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.a-title:hover {
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 10px 30px;

}

.a-mobile:active {
  color: black;
  background-color: white;
  padding: 20px 20px;
}


a {
  color: white;
}

a:hover {
  color: white;
}

.logo {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 200;
}